<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>OpenMind</title>

	<!-- jquery -->
	<script type="text/javascript" src="../static/js/3rd/jquery.js"></script>
	
	<!-- bootstrap -->
	<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- bootstrap-material-design -->
	<link rel="stylesheet" type="text/css" href="../static/css/3rd/bootstrap-material-design.css">
    <script type="text/javascript" src="../static/js/3rd/material.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="../static/css/3rd/ripples.min.css">
  	<script type="text/javascript" src="../static/js/3rd/ripples.min.js"></script>
	<link rel="stylesheet" href="../static/css/global.css">
	<link rel="stylesheet" href="../static/css/detail.css">
	
	<!-- fontawesome -->
	<link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

	<script type="text/javascript" src="../static/js/cookie.js"></script>
	<script type="text/javascript" src="../static/js/global.js"></script>
	<script type="text/javascript" src="../static/js/post.js"></script>
	<script type="text/javascript" src="../static/js/detail.js"></script>
</head>
<body>
	<!-- 导航栏 -->
	<nav class="navbar">
        <div class="navbar-header">
            <img class="navbar-brand" src="../static/res/image/openmind-icon.png" alt="openmind-icon">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			
        </div>
        
        <div class="warning-tips">
			<a href="javascript:void(0)" class="btn btn-raised btn-warning"></a>
	    </div>

        <div class="nav-list">
        <!-- <div class="nav-list navbar-collapse collapse navbar-responsive-collapse"> -->
            <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:void(0)">首页</a></li>
                <li><a href="javascript:void(0)">管理项目</a></li>
                  
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group is-empty">
                	<input type="text" class="form-control col-md-8" placeholder="Search">
                </div>
            </form>	
            <div class="navbar-username"></div>
        </div>

         <a href="login.html" class="btn btn-raised btn-primary login-btn" >登录<div class="ripple-container"></div></a>
    </nav>

    <article class="container">
    	<div class="project-container well">
    		
	    	<div class="project-title-wrapper  clearfix">
				<div class="title-top clearfix">
		    		<div class="project-name-wrapper">
			    		  <i class="fa fa-th-list"></i>
			    		  <span class="project-name">
			    		  	Adobe Illustrator
			    		  </span>
		    		  </div>
		    		
		    		<div class="vote-wrapper">
		    		  	<button id="vote-btn btn"><i class="fa fa-thumbs-up" aria-hidden="true">Like</i>
		    		  	</button>
		    		  	<span class="vote-number">111</span>
		    		 </div>
				</div>
	    		 <div class="title-bottom">
	    		 	<div class="project-label-wrapper">
	    		 		<span class="project-label">github</span>
						<span class="project-label">github</span>
						<span class="project-label">github</span>

	    		 	</div>


	    		 </div>
	    	</div>
			
			<div class="project-detail-container">
				
		    	<div class="project-intro-wrapper">
		    		<div class="title-wrapper">
		    			<span>简介</span>
		    		</div>
		    		<div class="project-intro-container">
		    			Adobe Illustrator是Adobe系统公司推出的基于矢量的图形制作软件Adobe Illustrator是Adobe Adobe Illustrator是Adobe系统公司推出的基于矢量的图形制作软件Adobe Illustrator是Adobe Adobe Illustrator是Adobe系统公司推出的基于矢量的图形制作软件Adobe Illustrator是Adobe
		    		</div>
		    	</div>

		    	<div class="project-links-wrapper">
		    		<div class="title-wrapper">
		    			<span>链接</span>
		    		</div>

		    		<div class="project-links-container">
	    		 		<a class="project-link">github<span class="link-address">
	    		 			https://github.com/bobxwu/a.git
	    		 		</span></a>
						<a class="project-link">github<span class="link-address">
	    		 			https://github.com/bobxwu/a.git
	    		 		</span></a>
						<a class="project-link">github<span class="link-address">
	    		 			https://github.com/bobxwu/a.git
	    		 		</span></a>
	    
	    		 	</div>

		    	</div>

		    	<div class="project-files-wrapper">
		    		<div class="title-wrapper">
		    			<span>所有文件</span>
		    		</div>

		    		<div class="project-files-container">
		    			<ul class="breadcrumb" >
  							<li><a href="javascript:void(0)">Home</a></li>
  							<li><a href="javascript:void(0)">Library</a></li>
  							<li class="active">Data</li>
						</ul>

						<div class="project-files">
							
						</div>
		    		</div>
		    	</div>
	    	</div>

	    	
	    </div>

		<div class="comment-container well">
			<div class="title-wrapper">
				<span>评论</span>
			</div>
			<div class="comment-list-container">
				<ul class="comment-list">
					<li class="comment-item">
						<div class="item-title clearfix">
							<div class="title-left commenter-icon">
								<img src="../static/res/image/icon.png" alt="">
							</div>
							<div class="title-right">
								<div class="right-top clearfix">
									<div class="top-left">
											<span class="commenter-username">用户名</span>发表评论:
									</div>
									<div class="comment-time">
											2016-8-22
									</div>
								</div>
								<div class="comment-content">
									赞太赞了，想具体了解一下能和我联系吗我的邮箱是请问你的邮箱是你的电话是你的住址是你查户口吗
								</div>
							</div>
						</div>
						<div class="item-follow">
							<ul class="follow-list">
								<li id="" class="follow-item clearfix">
									<div class="item-left">
										<span class="child-commenter">作者</span>回复<span class="parent-commenter">谁谁谁:</span>
										<span class="comment-content">123123</span>
									</div>
									<div class="item-right">
										<span class="item-reply-btn">
											回复
										</span>
										<span class="comment-time">
											2016-8-22
										</span>
									</div>
								</li>
								<li id="" class="follow-item clearfix">
									<div class="item-left">
										<span class="child-commenter">张三</span>回复<span class="parent-commenter">谁谁谁:</span>
										<span class="comment-content">123123</span>
									</div>
									<div class="item-right">
										<span class="item-reply-btn">
											回复
										</span>
										<span class="comment-time">
											2016-8-22
										</span>
									</div>
								</li>
								<li id="" class="follow-item clearfix">
									<div class="item-left">
										<span class="child-commenter">作者</span>回复<span class="parent-commenter">谁谁谁:</span>
										<span class="comment-content">123123</span>
									</div>
									<div class="item-right">
										<span class="item-reply-btn">
											回复
										</span>
										<span class="comment-time">
											2016-8-22
										</span>
									</div>
								</li>
							</ul>
							<div class="reply-input-container clearfix">
									<div class="reply-input-wrapper form-group is-empty">
						                <label for="textArea" class="control-label">回复</label>          
						                 <textarea class="form-control reply-input" maxlength="150" rows="3"></textarea>
						                  <span class="help-block">不超过150字</span>
						              </div>
						             <button type="submit" class="btn btn-primary reply-btn">回复</button>
								</div>
						</div>

						<div class="item-bottom clearfix">
							<button type="submit" class="btn btn-primary more-comment-btn">查看更多回复
							</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
    </article>

    <!-- 低栏部分 -->
	<footer>
		<div class="bottom-name">
		<a href="index.html">OpenMind</a></div>
		<div class="bottom-remark">2016 SouthEast University</div>
	</footer>

</body>
<script type="text/javascript">
   $(function() {
     $.material.init();
   });
</script>
</html>