body{
	margin: 0;
	font-family: 
		"PingFang SC", "Microsoft YaHei", 
		Helvetica, Arial, "Hiragino Sans GB", 
		"Source Han Sans CN", sans-serif;
	min-width: 300px;
}

article{
	margin: 100px auto;
	max-width: 850px;
}

.navbar{
	background-color: #263238;
	padding: 0 15px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
	font-size: 1em;
}

.navbar.shadow-bottom{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.50);
}

.navbar .navbar-form{
	margin: 0 auto;
}

.navbar-header img{
	display: block;
	float: left;
}

.nav-list{
	margin: 0 0 0 20px;
	line-height: 43px;
}

.nav-list-item>a{
	color: white;
}

.navbar-username{
	float: right;
}

.login-btn{
	float: right;
	
}

.project-name{
	font-size: 1.5em;
	color: #336699;
	cursor: pointer;
}

.warning-tips{
	display: none;
	position: fixed;
	top: 10px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 100;
	pointer-events: none;
}

.clearfix::after{
	content: "." ; 
	display: block ;
	height: 0 ;
	clear: both ;
	visibility: hidden;
}

.tooltip{
	display: none;
	position: absolute;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	background-color: rgba(153,153,153,.8); 
}

.title-wrapper{
	font-size: 1.8em;
	margin-bottom: 10px;
}

.title-wrapper::before{
	font-family: "FontAwesome";
}

a,
a:hover{
	text-decoration: none;
}

li{
	list-style: none;
}

ul{
	padding-left: 0;
}

footer{
	width: 100%;
	margin-top: 300px;
	font-size: 15px;
	text-align: center;
}

.bottom-name{
	color: teal;
	margin-bottom: 10px;
}

.project-label{
	margin-left: 5px;
	padding: 0 5px;
	border-radius: 2px;
	color: white;
	background-color: #03a9f4;
	font-size: .5em;
}

@media screen and (max-width: 770px){
	.navbar-username{
		float: none;
	}
}

@media screen and (max-width: 400px) {
	body{
		font-size: 8px;
	}

	.navbar{
		padding: 0;
		margin-bottom: 0;
	}

	.panel-body{
		padding: 0;
	}

	article.container{
		margin: 50px 0 0;
		padding: 0;
		width: 100%;
	}

	.nav-list{
		margin-left: 0;
	}
}