.nav-list-item{
	display: inline-block;
	margin-right: 20px;
}

.login-btn{
	float: right;
	/*margin: 7px auto;*/
}

.browse-title{
	font-size: 2em;
}

.voting-project-toggle{
	margin-left: 10px;
}
.voting-project-toggle>label{
	font-size: 1em;
}

.project-list{
	margin-top: 40px;
}

.project-list-item{
	padding: 10px 5px;
	margin-top: 40px;
}

.item-title-left{
	float: left;
}

i.fa{
	font-size: 1.8em;
}

.item-title-left>.fa{
	margin-right: 5px;
}

.project-label{
	margin-left: 5px;
	background-color: #99cccc;
	padding: 0 5px;
	color: white;
	font-size: .5em;
}

.item-title-right{
	float: right;
	color: #c2c2c2;
}

.brief-intro-wrapper{
	margin-top: 10px;
	padding: 5px 0;
	border-top: .5px solid rgba(0,0,0,.5);
	font-size: 1.2em;
	font-weight: 400;
	word-break: break-all;
}

.author-info{
	float: left;
	width: 70px;
	color: #666;
}

.author-icon{
	display: block;
	width: 100%;
	border-radius: 100%;
}

.author-name{
	text-align: center;
	font-size: .5em;
}

.brief-intro{
	margin-left: 75px;
}

#vote-btn{
	font-size: .8em;
	background-color: #ededed;
	color: #336699;
	border-radius: 8px;
	margin: 0;
	padding: 5px 8px;
}

#vote-btn.disabled{
	opacity: .5;
	pointer-events: none;
}