body{
	background: url("static/res/image/head-bg.jpg");
	font-family: "Microsoft Yahei";
	background-size: contain;
	background-repeat: no-repeat;
}

.index{
	margin:100px auto 0;
}

.index #bg-img{
	
	width: 100%;
	z-index: -100;
}

.index #logo-img{
	width: 100%;
}

.head{
	text-align: center;
	max-width: 950px;
	margin:auto;
	margin-bottom: 200px;
}

#logo-label{
	margin:100px 0;
}

#logo-label label{
	font-size: 2em;
	color: #000;
}

.middle{
	margin-top: 100px;
	background-color: #fff;
	text-align: center;
	padding: 0 20%;
}

.middle img{
	width: 100%;
}

.bottom {
	background: url("static/res/image/head-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 30px;
}

.bottom>a{
	font-size: 2.5em;
	color: rgba(0,0,0,.8);
	text-decoration: none;
}

.bottom>a:hover{
	opacity: .6;
}

@media screen and (max-width: 500px){
	body{
		font-size: 8px;
	}
	
	.middle{
		padding: 0;
	}

	.head{
		margin-bottom: 50px;
	}
}