<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>OpenMind</title>
	<!-- jquery -->
	<!-- Bootstrap -->
	<!-- <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
	<!-- Bootstrap Material Design -->
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap-material-design.css">
	<link rel="stylesheet" type="text/css" href="static/css/ripples.min.css">
	<script type="text/javascript" src="static/js/jquery.js"></script>
	<script type="text/javascript" src="static/js/material.min.js"></script>
	<script type="text/javascript" src="static/js/ripples.min.js"></script>
	<script type="text/javascript" src="static/js/global.js"></script>
</head>

<body>
	<a href="javascript:void(0)" class="btn btn-raised btn-warning">Warning<div class="ripple-container"></div></a>
	<a href="javascript:void(0)" class="btn btn-default btn-lg btn-block btn-raised">Block level button<div class="ripple-container"></div></a>
	<!-- 导航栏 -->
	<nav>
		
	</nav>
	<article>
		
	</article>
	<!-- 底部栏 -->
	<footer>
		
	</footer>
</body>
<script>
	$(function() {
		$.material.init();
	});
</script>
</html>