<!-- html of index page -->

<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

	<title>OpenMind</title>
	<link rel="stylesheet" type="text/css" href="static/css/index.css">
	

</head>
<body>

    <div class="index">
    	<div class="head">
    		<img id="logo-img" src="../static/res/image/logo.png" alt="logo">
    		<div id="logo-label"><label>项 目 发 布 与 技 术 收 获 分 享 平 台</label></div>
    	</div>
    	<div class="middle">
    		<img src="../static/res/image/area2.jpg">
    	</div>
    	<div class="bottom">
    		<a href='/home'>即刻加入 OpenMind</a>
    	</div>
    </div>

</body>
</html>