body{
	margin: 0;
	font-family: 
		"PingFang SC", "Microsoft YaHei", 
		Helvetica, Arial, "Hiragino Sans GB", 
		"Source Han Sans CN", sans-serif;
	min-width: 300px;
}

.navbar{
	background-color: rgba(0,0,0,.8);
	padding: 10px 15px;
}


.navbar-header img{
	display: block;
	float: left;
}

.nav-list{
	
	margin: 0 0 0 20px;
	line-height: 43px;
}

.nav-list-item>a{
	color: white;
}

.clearfix::after{
	content: "." ; 
	display: block ;
	height: 0 ;
	clear: both ;
	visibility: hidden;
}

a,
a:hover{
	text-decoration: none;
}

li{
	list-style: none;
}

ul{
	padding-left: 0;
}

footer{
	width: 100%;
	margin-top: 300px;
	font-size: 15px;
	text-align: center;
}

.bottom-name{
	color: teal;
	margin-bottom: 10px;
}


@media screen and (max-width: 770px) {
	.nav-list{
		
	}
}