.nav-list-item{
	display: inline-block;
	margin-right: 20px;
}

.login-btn{
	float: right;
	margin: 7px auto;
}

article{
	padding: 20px 15px;
	max-width: 850px;
}

article.container>.project-container{
	padding-bottom: 
}

.browse-title{
	font-size: 2em;
}

.voting-project-toggle{
	margin-left: 10px;
}
.voting-project-toggle>label{
	font-size: 1em;
}

.project-list{
	margin-top: 40px;
}

.project-list-item{
	padding: 10px 5px;
	margin-top: 40px;
}

.item-title-left{
	float: left;
}

.project-name{
	font-size: 1.5em;
	color: ;
}

.item-right{
	float: right;
	/*line-height: 1.5;*/
}

.brief-intro-wrapper{
	margin-top: 10px;
	padding: 5px 0;
	border-top: .5px solid rgba(0,0,0,.5);
	font-size: 1.2em;
	font-weight: 400;
}

.author-info{
	float: left;
	width: 10%;
	max-width: 70px;
	margin-right: 10px;
}

.author-icon{
	display: block;
	width: 100%;
}

.author-name{
	text-align: center;
	font-size: 1em;
}