<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="static/js/jquery.js"></script>
</head>
<body>
	<form id="uploadForm" enctype="multipart/form-data">
		<input id="head" type="file" name="head"/>
		<div onclick="upload()">click</div>
		<div onclick="logout()">logout</div>
	</form>
	<script type="text/javascript">
		function upload(){
			alert("will login");
			var mydata = new FormData($('#uploadForm')[0]);
			mydata.append("action_id",2);
			mydata.append("username","seven");
			mydata.append("password","ab2345678901234567890123456789ab");
			//mydata.append("realname","shangyang");
			//mydata.append("department","成功与否");
			$.ajax({
				url:'/action',
				type:'POST',
				cache:false,
				data:mydata,
				processData:false,
				contentType:false
			}).done(function(res){

			}).fail(function(res){

			});
		}

		function logout(){
			alert("will logout");
			var mydata = new FormData();
			mydata.append("action_id",3);
			$.ajax({
				url:'/action',
				type:'POST',
				cache:false,
				data:mydata,
				processData:false,
				contentType:false
			}).done(function(res){

			}).fail(function(res){

			});
		}
	</script>
</body>
</html>
