/*Created by WuXiaobao on Sep.9 2016
  css for page of active degree*/

.title{
	font-size: 2em;
}

.month{
	font-size: 1.2em;
}

.active-degree-list-container{
	padding: 10px;
}

.active-degree-list{
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.square-list{
	display: inline-block;
}

.square-list>i{
	display: inline-block;
	margin-left: .2em;
	width: 1em;
	height: 1em;
	background-color: #eee;
}

.square-list>i.d-1{
	background-color: #d6e685;
}

.square-list>i.d-2{
	background-color: #d6e685;
}

.square-list>i.d-3{
	background-color: #44a340;
}

.square-list>i.d-4{
	background-color: #1e6823;
}

.more-btn-container{
	text-align: center;
}